.homepage-col {
  text-align: center;
  padding-bottom: 4px;
}
.home-app-title {
  font-family: lato-bold;
  font-size: 50px;
}

.encoding-header {
  text-align: center;
  font-family: Lato-bold;
  font-size: 25px;
}

.encoding-intro {
  text-align: center;
  font-family: Lato;
  font-size: 23px;
}